.left { padding-left: 500px; }

.navbar {
    background: linear-gradient(to left, #66ccff 0%, #ffffff 100%);
}

.nav-link {
    color: #004280;
    font-style: bold;
    font-weight: 500;
}

h2 {
    color: #004280;
}

