<app-header></app-header>
<div class="alert alert-info small" *ngIf="errorMessage">{{errorMessage}}</div>
<h2 class="d-flex justify-content-center mt-5">RESET PASSWORD</h2>
<div class="card col-4">
  <form [formGroup]="resetpasswordform">
    <div class="form-group ml-5 mt-3">
      <label for="oldpassword"></label>
      <input type="text" formControlName='oldpassword' id="oldpassword" placeholder="Enter your Old Password" ngModel
        required>
    </div>
    <div class="form-group ml-5 mt-3">
      <label for="newpassword"></label>
      <input type="text" formControlName='newpassword' id="newpassword" placeholder="Enter your New Password" ngModel
        required>
    </div>
    <div class="form-group ">
      <button class="btn mb-3" type="submit" value="submit" (click)="resetpassword(resetpasswordform)"
        [disabled]="!resetpasswordform.valid">Reset</button>
    </div>
  </form>
</div>
<div class="col-12" style="bottom: 0;position: fixed; overflow:hidden">
  <app-footer></app-footer>
</div>