.post {
    float:right;
    border: 1px solid #ff6666;
    border-radius: 10px;
    margin-left: 12%;
    background-color: #ff6666;
    color: white;
    width:90px;
}
.tweet {
margin-top: -2%;
margin-left: 12%;
}
.like {
    margin-left:10%;
}
.postCard {
    border: 1px solid #33ccff;
    border-radius: 10px;
    margin-left: 10%;
}

.comment {
    margin-left:10%;
    border: 1px solid #99ccff;
    border-radius: 10px;
}
.timeStamp {
    color: #004280;
}
.textArea {
    margin-left: 10%;
}
.indx {
    margin-left: 15%;
}
.d-flex {
    color: #004280;
}